# Compiled program
minirt

# Object files
*.o

# Executables
*.out

# Debug files
*.dSYM/

# LibFT non-source files
libft/obj/
libft/libft.a

# MLX Linux non-source files
minilibx-linux/test/
minilibx-linux/libmlx_*.a
minilibx-linux/libmlx.a
minilibx-linux/Makefile.gen

# MLX OpenGL (Mac) non-source files
minilibx_opengl_20191021/libmlx.a
